@charset "utf-8";

@font-face {
    font-family: 'KdamThmorPro';
    src: url('../fonts/KdamThmorPro.ttf') format('truetype');
}

:root {
    --cor01: #f17300;
    --cor02: #F28218;
    --cor03: #81a4cd;
    --cor04: #3e7cb1;
    --cor05: #054a91;
    --cor06: #dbe4ee;

    --fonte-destaque: 'KdamThmorPro';
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: var(--cor06);
    font-family: var(--fonte-padrao);
}

/* Header */

header {
    background: var(--cor01);
    height: 210px;
    text-align: center;
    font-family: var(--fonte-destaque);
    border-radius: 0px 0px 5px 5px;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.61);
}

header > h1 {
    font-size: 2.8em;
    padding: 20px 0px 10px 0px;

}

header > p {
    font-size: 1.2em;
    padding-bottom: 30px;
}

span.destaque-logo {
    color: #fff;
}

nav > a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

nav > a:hover {
    color: #000;
    background: #fff;
    border-radius: 3px;
}

/* Main */

main {
    background: #fff;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

article  h1 {
    padding: 10px 20px 0px 20px;
    font-family: var(--fonte-destaque);
    font-size: 1.7em;
}

article  h2 {
    padding: 10px 20px 0px 20px;
    font-family: var(--fonte-destaque);
    font-size: 1.4em;
}

article  p {
    padding: 10px 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.1em;
    line-height: 1.6em;
}

article > hr {
    width: 95%;
    border-top: 1px solid #000;
    margin: auto;
}

main img {
    display: block;
    margin: 0 auto;
    width: 95%;
    padding: 15px 0px;
}

article  a {
    text-decoration: none;
    color: var(--cor02);
}

article a:hover {
    text-decoration: underline;
}

article a::after {
    content: '🔗';
}

aside {
    background: var(--cor02);
    max-width: 950px;
    margin: 0 auto;
    border-radius: 10px;
}

aside > h2 {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    color: #fff;
}

aside > p > a {
    color: #000;
}

/* Footer */

footer {
    background: #000;
    color: #fff;
    height: 30px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

footer  a {
    text-decoration: none;
    color: var(--cor02);
}